<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheet_main.css"/>
<head>
    <meta charset="UTF-8"/>
    <title>Welcome!</title>
</head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Programmers Fox Club</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </nav>
    <div class="hello">
    <h3 style="color: grey" th:text="'Hello there!'"></h3>
    <h3 style="color: grey" th:text="'This is a game where you can take care of your own FOX...'"></h3>
    <img src="/foxes.svg" style="width: 1000px; height: auto;">
    </div>
        <div class="login">
        <h6 th:text="'Already have an account?'" th:style="'color:grey'"></h6>
        <a href="/login"><button>LOGIN</button></a>
        </div>
        <div class="register">
        <h6 th:text="'Not yet having an account?'" th:style="'color:grey'"></h6>
        <a href="/login"><button>REGISTER</button></a>
        </div>
    </body>
<footer class="page-footer bg-dark text-white fixed-bottom">
    <div class="card-footer">
        For more detail contact us at posta.erika.mail@gmail.com
    </div>
</footer>
<html/>