<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome!</title>
</head>
    <body>
        <img src="/foxes.svg" style="width: 1100px; height: auto;">
        <h2 style="color: grey" th:text="'Hello there!'"></h2>
        <h2 style="color: grey" th:text="'This is a game where you can take care of your own FOX...'"></h2>
        <h5 th:text="'Already have an account?'" th:style="'color:grey'"></h5>
        <a href="/login"><button style="color: whitesmoke; background-color: lightcoral">LOGIN</button></a>
        <h5 th:text="'Not yet having an account?'" th:style="'color:grey'"></h5>
        <a href="/login"><button style="color: whitesmoke; background-color: lightcoral">REGISTER</button></a>
    </body>
<html/>