<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Information</title>
</head>
<body>
<ul>
    <li>
        <a style="color: lightblue" href="/information">Information</a>
    </li>
</ul>
<br>
<img th:src="@{/greenfox.png}" alt="Character image">

<h2 style="color: grey" th:text="'This is ' + ${character.name} + '. Currently living on ' + ${character.food} + ' and ' + ${character.drink} + ' . ' + ${character.name} + ' knows ' + ${character.countOftricks()} + ' tricks.'"></h2>

<h1 style="color: darkslategrey">Known Tricks</h1>
<ul style="color: darkslateblue;" th:if="${error}" th:text="${error}">
        <div th:unless="${list}" th:each="trick : ${list}">
            <li th:text="${trick}"></li>
        </div>
</ul>

</body>
<html/>