<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet_information.css">
    <title>Fox Information</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Programmers Fox Club</a>
        <img th:src="@{/fox.png}" alt="Character image" style="width: 80px;height: auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active"><a class="nav-link" th:href="'/information?name=' + ${character.name}">Information<span class="sr-only">(current)</span></a></li>

                <li class="nav-item"><a class="nav-link" th:href="'/nutrition?name=' + ${character.name}">Nutrition Store</a></li>
                <li class="nav-item"><a class="nav-link" th:href="'/trickstore?name=' + ${character.name}">Trick Store</a></li>
                <li class="nav-item"><a class="nav-link" th:href="'/actionlog?name=' + ${character.name}">Action History</a></li>
                <li class="nav-item"><a class="nav-link" th:href="'/main'">Log Out</a></li>
          </ul>
        </div>
    </div>
</nav>
<img class="img-fox" src="/greenfox.png">
<div class="summary">
    <h3 th:text="'This is ' + ${character.name} + '.'"></h3>
    <h3 th:text="'Currently living on ' + ${character.food} + ' and ' + ${character.drink} + ' . '"></h3>
    <h3 th:text="${character.name} + ' knows ' + ${character.countOftricks()} + ' trick(s).'"></h3>
</div>
<div class="knowntricks">
<h3>Known Tricks</h3>
        <ul>
            <li th:if="${character.getListOfCompletedTricks().isEmpty()}" th:style="'color:red'" th:text="${character.name} + ' knows anything but a trick, so go to Trick Center and shed some light there'"></li>
            <li th:style="'color:grey'" th:unless="${character.getListOfCompletedTricks().isEmpty()}" th:each="trick : ${list}" >
                <span th:text="${trick.getName()}"></span>
                <img th:src="${trick.getImageurl()}" style="width: 75px; height: auto;">
            </li>
        </ul>
</div>
<div class="actionhistory">
<h3>Action History</h3>
<ul >
    <li th:if="${last5action.isEmpty()}" th:text="'Nothing happened to ' + ${character.getName()} + ' yet.'" th:style="'color:red'"></li>
    <li th:unless="${last5action.isEmpty()}" th:style="'color:grey'" th:each="action:${last5action}" th:text="${action}"></li>
</ul>
</div>
</body>
<footer class="page-footer bg-dark text-white fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kovács-Posta Erika</div>
</footer>
<html/>