<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Information</title>
</head>
<body>
<ul>
    <li><a style="color: lightblue" th:href="'/information?name=' + ${character.name}">Information</a></li>
    <li><a style="color: lightblue" th:href="'/nutrition?name=' + ${character.name}">Nutrition Store</a></li>
    <li><a style="color: lightblue" th:href="'/trickstore?name=' + ${character.name}">Trick Store</a></li>
</ul>
<br>
<img th:src="@{/greenfox.png}" alt="Character image">

<h2 style="color: grey" th:text="'This is ' + ${character.name} + '. Currently living on ' + ${character.food} + ' and ' + ${character.drink} + ' . ' + ${character.name} + ' knows ' + ${character.countOftricks()} + ' trick(s).'"></h2>

<h1 style="color: mediumseagreen">Known Tricks</h1>
        <ul>
            <li th:style="'color:red'" th:if="${error}" th:text="${error}"></li>
            <li th:style="'color:grey'" th:unless="${error}" th:each="trick : ${list}" >
                <span th:text="${trick.getName()}"></span>
                <img th:src="${trick.getImageurl()}" style="width: 100px; height: auto;">
            </li>
        </ul>
</body>
<html/>