<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="cssfiles/stylesheet_login.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Programmers Fox Club</a>
        <img th:src="@{/images/fox.png}" alt="Character image" style="width: 80px;height: auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" th:href="'/login'">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" th:href="'/main'">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="welcome">
<h3>Welcome to Programmer Fox Club!</h3>
<br>
<div>
    <h5>Please provide a name, to associate it to your pet!</h5>
    <br>
    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id ="name" required autofocus/>
        <input type="submit" value="GO"/>
    </form>
</div>
    <br>
    <img src="/images/login.png" style="width: 100px; height: auto">
</div>
</body>
<footer class="page-footer bg-dark text-white fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Kovács-Posta Erika</div>
</footer>
</html>