<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Nutrition</title>
</head>
<body>
<ul>
    <li>
        <a style="color: lightblue" th:href="'/information?name=' + ${character.name}">Information</a>
    </li>
    <li>
        <a style="color: lightblue" th:href="'/nutrition?name=' + ${character.name}">Nutrition Store</a>
    </li>
    <li>
        <a style="color: lightblue" th:href="'/trickstore?name=' + ${character.name}">Trick Store</a>
    </li>
</ul>
<h2 th:text="'Give food and drink to your Fox!'" th:style="'color:grey'"></h2>
<div>
    <form action="/nutrition" method="post">
            <label style="color: darkslategrey; font-weight: bold" for="food">Food</label>

            <select id="food" name="food" class="food">
                <option th:each="food : ${foods}" th:value="${food}" th:text="${food}"></option>
        </select>

        <label style="color: darkslategrey; font-weight: bold" for="drink">Drink</label>
        <select id="drink" name="drink" class="drink">
            <option th:each="drink : ${drinks}" th:value="${drink}" th:text="${drink}"></option>
        </select>
        <input type="submit" value="Change" style="color: whitesmoke; background-color: lightcoral;"/>
    </form>
</div>


</body>
<html/>