<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Nutrition</title>
</head>
<body>
<ul>
    <li><a style="color: lightblue" th:href="'/information?name=' + ${character.name}">Information</a></li>
    <li><a style="color: lightblue" th:href="'/nutrition?name=' + ${character.name}">Nutrition Store</a></li>
    <li><a style="color: lightblue" th:href="'/trickstore?name=' + ${character.name}">Trick Store</a></li>
</ul>
<h2 th:text="'Give food and drink to your Fox from the available Menu!'" th:style="'color:grey'"></h2>
<div>
    <form th:action="'/nutrition/?name=' + ${character.name}" method="post">
            <label style="color: lightgrey; font-weight: bold" for="food">Choose Food</label>
            <select id="food" name="food" class="food">
                <option th:each="food : ${foods}" th:value="${food}" th:text="${food}"></option></select>
            <label style="color: lightgrey; font-weight: bold" for="drink">Choose Drink</label>
            <select id="drink" name="drink" class="drink">
            <option th:each="drink : ${drinks}" th:value="${drink}" th:text="${drink}"></option></select>
        <input type="submit" value="Change" style="color: whitesmoke; background-color: lightcoral;"/>
    </form>
</div>
<h2 th:style="'color:grey'">OR</h2>
<div>
    <form th:action="'/nutrition/?name=' + ${character.name}" method="post">
        <div>
        <label style="color: lightgrey; font-weight: bold" for="addFood">Add Your Specialty Food</label>
        <input type="text" id="addFood" name="food"/>
        </div>
        <br>
        <div>
        <label style="color: lightgrey; font-weight: bold" for="addDrink">Add Your Specialty Drink</label>
        <input type="text" id="addDrink" name="drink"/>
        </div>
        <br>
        <input type="submit" value="AddYourOwnSpecialty"style="color: whitesmoke; background-color: lightcoral"/>
    </form>
</div>
<br>
<img src="/food-and-drink-png-5.png">
</body>
<html/>