<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Tricks</title>
</head>
<body>
<ul>
    <li><a style="color: lightblue" th:href="'/information?name=' + ${character.name}">Information</a></li>
    <li><a style="color: lightblue" th:href="'/nutrition?name=' + ${character.name}">Nutrition Store</a></li>
    <li><a style="color: lightblue" th:href="'/trickstore?name=' + ${character.name}">Trick Store</a></li>
</ul>
<h2 th:text="'Educate your Fox from the available Skill Library!'" th:style="'color:grey'"></h2>
<div>
    <form th:action="'/trickstore/?name=' + ${character.name}" method="post">
        <label style="color: lightgrey; font-weight: bold" for="trick">Choose a Trick</label>
        <select id="trick" name="trick" class="trick">
            <option th:each="trick : ${tricks}" th:value="${trick}" th:text="${trick}"></option></select>
        <input type="submit" value="Learn" style="color: whitesmoke; background-color: lightcoral;"/>
    </form>
</div>
<h2 th:style="'color:grey'">OR</h2>
<div>
    <form th:action="'/trickstore/?name=' + ${character.name}" method="post">
        <div>
            <label style="color: lightgrey; font-weight: bold" for="addTrick">Add a new Trick</label>
            <input type="text" id="addTrick" name="trick"/>
            <input type="submit" value="AddSkill"style="color: whitesmoke; background-color: lightcoral"/>
        </div>
    </form>
</div>
<br>
<img src="/skill2.png">
</body>
<html/>