<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Utilities</title>
</head>
    <body>
        <h2 style="color:grey">Try out one of the Utilities listed below</h2>
    <div>
        <p style="color: cornflowerblue">Colored Backgrounds | <a style="color: lightcoral" href="http://localhost:8080/useful/colored">Click here!</a></p>
        <p style="color: cornflowerblue">Email Validator | <a style="color: lightcoral" href="http://localhost:8080/useful/email?email=is@this.valid">Click here to try it out!</a></p>
        <p style="color: cornflowerblue">Caesar Encoder | <a style="color: lightcoral" href="http://localhost:8080/useful/1/encode?text=example">Click here!</a></p>
        <p style="color: cornflowerblue"> Caesar Decoder | <a style="color: lightcoral" href="http://localhost:8080/useful/-1/decode?text=fybnqmf">Click here!</a></p>
    </div>
    </body>
</html>