<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Reddit Main</title>
</head>
<body style="background-color: lightgrey;">
<nav class="navbar navbar-expand-lg" style="background-color: darkblue">
    <div class="container">
        <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c531.png" style="width: 30px; height: auto">
        <a class="navbar-brand" href="#" style="color: whitesmoke; font-weight: bolder">Reddit</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="http://localhost:8080/" style="color: whitesmoke">Home
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="http://localhost:8080/login" style="color: whitesmoke">LogIn</a>
                <a class="nav-item nav-link" href="http://localhost:8080/register"
                   style="color: whitesmoke">Register</a>
            </div>
        </div>
    </div>
</nav>
<br>
<h2 style="color: ghostwhite; font-weight: bold; font-family: Verdana, monospace; text-align: center">
    Trending Posts:</h2>
<br>
<div th:if="${posts.isEmpty()}">
    <p style="color: ghostwhite; font-weight: bold; font-family: Verdana, monospace; text-align: center">There is
        NOTHING to show Yet!!</p>
</div>
<div th:unless="${posts.isEmpty()}">
    <div class="container">
        <table class="table table-hover table-sm table-responsive" style="background-color: white; border-radius: 5px;">
            <!--<thead>-->
            <!--<tr class="table-dark">-->
            <!--<th scope="col" th:text="'Scores'" style="text-align: left"></th>-->
            <!--<th scope="col" th:text="'Upvote'" style="text-align: left"></th>-->
            <!--<th scope="col" th:text="'Downvote'" style="text-align: left"></th>-->
            <!--<th scope="col" th:text="'Title'" style="text-align: left"></th>-->
            <!--<th scope="col" th:text="'Posted at'" style="text-align: left"></th>-->
            <!--<th scope="col" th:text="'Posted by'" style="text-align: left"></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody>
            <tr th:each="post:${posts}" th:object="${post}">
                <td th:text="*{nrOfVotes}"
                    style="text-align: center; font-family: Verdana; color: grey"></td>
                <td><a th:href="'http://localhost:8080/nouser'" class="btn btn-outline-secondary"
                       role="button">+</a>
                </td>
                <td><a th:href="'http://localhost:8080/nouser'" class="btn btn-outline-danger" role="button">-</a>
                </td>
                <td><a th:href="*{url}" th:text="*{title}"
                       style="text-align: center;font-weight: lighter; font-family: Verdana"></a></td>
                <td th:text="'Posted on ' + ${#temporals.format(post.creationDate,'yyyy-MM-dd HH:mm:SS')}"
                    style="text-align: center; font-size: small; font-family: Verdana; color: grey"></td>
                <td th:text="' by ' + *{user.name}"
                    style="text-align: center; font-size: small; font-family: Verdana; color: dodgerblue"></td>
                <td><img src="https://png.pngtree.com/svg/20161008/share_40628.png" style="width: 20px; height: auto">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<footer class="page-footer fixed-bottom" style="background-color:darkblue; color: whitesmoke">
    <div class="container">
        <div class="footer-copyright text-center">
            <span class="align-middle"><small>© 2019 Copyright: Kovács-Posta Erika</small></span>
        </div>
    </div>
</footer>
</html>