<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Reddit Main</title>
</head>
<body style="background-color: lightgrey;">

<nav class="navbar navbar-expand-lg" style="background-color: darkblue">
    <div class="container">
        <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c531.png" style="width: 30px; height: auto">
        <a class="navbar-brand" href="#" style="color: whitesmoke; font-weight: bolder">Reddit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="http://localhost:8080/" style="color: whitesmoke">Home
                    <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="container">
    <h3 style="color: ghostwhite; font-weight: bold; font-family: Verdana, monospace; text-align: center">
        Join the worldwide conversation.
    </h3>
    <h5 style="color: ghostwhite; font-family: Verdana, monospace; text-align: center">By having a Reddit account, you
        can subscribe, vote, and comment on all your favorite Reddit content.
        Sign up in just seconds.</h5>
</div>
<br>
<div class="container">
    <form action="/register" method="post">
        <div class="form-group row">
            <label style="color: grey" for="username" class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="username" name="name"
                       placeholder="Your User Name" required>
            </div>
        </div>
        <div class="form-group row">
            <label style="color: grey" for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="email" name="email"
                       placeholder="Your Email Address" required>
            </div>
        </div>

        <div class="form-group row">
            <label style="color: grey" for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Add a Password" required>
            </div>
        </div>
        <div>
            <input type="submit" value="REGISTER" class="btn btn-outline-secondary btn-sm"
                   style="background-color: lightsalmon; margin-left: 190px"/>
        </div>
    </form>
</div>
<br>
<p style="color: ghostwhite; margin-left: 260px">Already a Redditor? <a href="/login">LOG IN</a></p>
</body>
<footer class="page-footer fixed-bottom" style="background-color:darkblue; color: whitesmoke">
    <div class="container">
        <div class="footer-copyright text-center">
            <span class="align-middle"><small>© 2019 Copyright: Kovács-Posta Erika</small></span>
        </div>
    </div>
</footer>
</html>