<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello to the WORLD!</title>
  </head>
    <body>
    <p th:text="${hellos} + ' ' + ${name} + '!'" th:style="'color:' + ${color} +';font-size:' +${fontSize} + 'px'"></p>
    <p th:text="'This website was loaded ' + ${counter} + ' times today ...'" th:style="'color:' + ${color}"></p>
    <img src="http://www.stickpng.com/assets/images/58e8ff10eb97430e819064cc.png">
    </body>
</html>