/* TilesComponent's private CSS styles */

  body{
    background-color: lightgrey;
  }
  .tiles {
    margin: 0px auto;
    list-style-type: none;
    padding: 10px;
    width: 450px;
    background-color: whitesmoke;
  }

  .tiles li {
    cursor: pointer;
    position: center;
    left: 100px;
    background-color: white;
    margin: 6px;;
    border-radius: 4px;
  }
  .tiles li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .tiles li:hover {
    color: salmon;
    background-color:white;
    left: .1em;
  }

  .country-name{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  }

  .city-name{
    font-size: 25px;
    font-weight : bold;
    font-family: 'Lato', sans-serif;
  }

  .celsius-name{
    font-size: 35px;
    font-weight: 10px;
    font-family: 'Lato', sans-serif;
    margin-top: -50px;
    margin-left : 250px;
  }
  img{
    width: 75px;
    height: auto;
  }
  .icon{
    margin: 1%;
    width: 20px;
    margin-left: 350px;
    margin-top: -55px;
  }
  