h3 {
    color: grey;
}

h5 {
    color: mediumseagreen;
}

input[type=submit] {
    color: whitesmoke;
    background-color: mediumseagreen;
}

label {
    color: grey;
}

.body {
    position: absolute;
    margin-left: 125px;
    margin-top: 30px;
}