<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Todo</title>
</head>
<body>
<h2 style="color: indianred; font-family: 'DejaVu Sans Mono', monospace">Add new todo</h2>
<div>
    <form action="/todo/add" method="post">
        <label for="title">Action</label>
        <input type="text" placeholder="New todo" name="title" id="title" required>
        <label for="days">How many days you need to complete the task?</label>
        <input type="number" name="days" id="days">
        <p><input type="submit" value="Submit" style="background-color: lightblue"></p>
    </form>
</div>
</body>
</html>