<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Edit Todo</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg" style="background-color: indianred">
        <a class="navbar-brand" href="#" style="color: whitesmoke">
            <img src="https://cdn2.iconfinder.com/data/icons/large-svg-icons-part-3/512/tasks_scheduled_folder_google-512.png"
                 width="30" height="30"
                 class="d-inline-block align-top" alt="">
            TODO APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="http://localhost:8080/todo/list" style="color: whitesmoke">Home
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="http://localhost:8080/todo/add" style="color: whitesmoke">Add New
                    Todo</a>
                <a class="nav-item nav-link" href="http://localhost:8080/assignee/list" style="color: whitesmoke">List
                    of
                    Assignees</a>
            </div>
        </div>
    </nav>
    <br>
    <h2 style="color: indianred; font-weight: bold; font-family: 'DejaVu Sans Mono', monospace; text-align: center">Edit
        Todo</h2>
    <div>
        <form th:action="'/todo/'+${id} +'/edit'" method="post" th:object="${todo}">
            <input type="hidden" th:field="*{id}" name="id">
            <input type="hidden" th:field="*{creationTime}" name="creationTime">
            <input type="hidden" th:field="*{dueDate}" name="creationTime">

            <div class="input-group mb-3" style="width: 400px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Todo Description</span>
                </div>

                <input type="text" th:field="*{title}" name="title" id="title" class="form-control" required>

                <div class="input-group mb-3" style="width: 400px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Todo Owner</span>
                    </div>
                    <select name="assignee">
                        <option value="">---</option>
                        <option th:each="assignee:${assignees}"
                                th:value="${assignee.id}"
                                th:text="${assignee.name}"
                                th:selected="${assignee.id == todo.assignee?.id}"></option>
                    </select>
                    <div class="input-group mb-3" style="width: 400px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Is Urgent?</span>
                        </div>

                        <input type="checkbox" class="form-control" th:field="*{urgent}" name="isUrgent" id="isUrgent">
                        <div class="input-group mb-3" style="width: 400px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Is Task Completed?</span>
                            </div>
                            <input type="checkbox" class="form-control" th:field="*{done}" name="isDone" id="isDone">
                                <input type="submit" class="btn btn-outline-secondary btn-sm" value="Submit"
                                   style="background-color: lightblue">
        </form>
    </div>
</div>
</body>
<footer class="page-footer fixed-bottom" style="background-color: indianred; color: whitesmoke">
    <div class="container">
        <div class="footer-copyright text-center">
            <span class="align-middle"><small>© 2019 Copyright: Kovács-Posta Erika</small></span>
        </div>
    </div>
</footer>
</html>