<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<h1>Edit Todo</h1>
<div>
    <form th:action="'/todo/'+${id} +'/edit'" method="post" th:object="${todo}">
        <input type="hidden" th:field="*{id}" name="id">
        <input type="hidden" th:field="*{creationTime}" name="creationTime">
        <input type="hidden" th:field="*{dueDate}" name="creationTime">
        <label for="title">Todo Description</label>
        <input type="text" th:field="*{title}" name="title" id="title" required>

        <select name="assignee">
            <option value="">---</option>
            <option th:each="assignee:${assignees}"
                    th:value="${assignee.id}"
                    th:text="${assignee.name}"
                    th:selected="${assignee.id == todo.assignee?.id}"></option>
        </select>

        <label for="isUrgent">Urgent</label>
        <input type="checkbox" th:field="*{urgent}" name="isUrgent" id="isUrgent">
        <label for="isDone">Done</label>
        <input type="checkbox" th:field="*{done}" name="isDone" id="isDone">
        <p><input type="submit" value="Submit"></p>

    </form>
    <a href="/todo/list">Cancel</a>
</div>
</body>
</html>