<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
</head>
<body>
<h1>Todos for today:</h1>
<table th:border="1">
    <thead>
    <tr>
        <th th:text="'ID'" style="text-align: left"></th>
        <th th:text="'ACTION'" style="text-align: left"></th>
        <th th:text="'DONE'" style="text-align: left"></th>
        <th th:text="'URGENT'" style="text-align: left"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo:${models}">
        <td th:text="${todo.id}" style="text-align: left"></td>
        <td th:text="${todo.title}" style="text-align: left"></td>
        <td th:text="${todo.done}" style="text-align: left"></td>
        <td th:text="${todo.urgent}" style="text-align: left"></td>
    </tr>
    </tbody>
</table>
</body>
</html>