<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheetShowfinal.css"/>
    <title>Add New Bank Account</title>
</head>
  <body>
    <h1>Widen the heroes of the Jungle</h1>
        <div>
            <form action="add" method="post">
                <label for="name">Animal Name</label>
                <input type="text" placeholder="Animal Name" name="name" id="name" required>
                <label for="balance">Balance</label>
                <input type="number" placeholder="Balance" name="balance" id="balance" required>
                <label for="animalType">Animal Type</label>
                <input type="text" placeholder="Animal Type" name="animalType" id="animalType" required>
                <label for="kingOfJungle">Is King Of Jungle?</label>
                <input type="radio" placeholder="King Of Jungle?" name="kingOfJungle" id="kingOfJungle">
                <label for="badGuy">Is a Bad Guy?</label>
                <input type="radio" placeholder="Bad Guy?" name="badGuy" id="badGuy">
                <button type="submit">Add</button>
            </form>
        </div>
  </body>
</html>