<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donate a selected BankAccount</title>
</head>
    <body>
        <h1>Donate a lucky one from the Jungle</h1>
            <div>
                <form action="select" method="post">
                <select name="Name of the Animal">
                    <option value="simba">Simba</option>
                    <option value="zordon">Zordon</option>
                    <option value="timon">Timon</option>
                    <option value="zazu">Zazu</option>
                    <option value="pumba">Pumba</option>
                    <option value="rafiki">Rafiki</option>
                    <option value="shenzi">Shenzi</option>
                    <option value="ed">Ed</option>
                </select>
                <button type="submit">Donate</button>
                </form>
                <br>
                <img src="https://www.pngrepo.com/png/158263/170/give-money.png">
            </div>
    </body>
</html>