<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheetdonateanimal.css"/>
    <title>Donate a selected BankAccount</title>
</head>
<body>
<h1>Donate a lucky one from the Jungle</h1>
<div>
    <form th:action="@{/web/donateanimal}" method="post">
        <select id="animalName" name="animalName" class="animal-name">
                    <option th:each="bankaccount : ${allAccounts}" th:value="${bankaccount.name}" th:text="${bankaccount.name}"></option>
                </select>
        <input type="submit" value="Donate" />
    </form>
    <br>
    <img src="/gold-coin-clipart-png-4.png">
</div>
</body>
</html>