<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Donate a selected BankAccount</title>
</head>
    <body>
        <h1>Donate a lucky one from the Jungle</h1>
            <div>
                <form th:action="@{/web/donateanimal}" method="post">
                <select th:object="${name}">
                    <option value="simba">Simba</option>
                    <option value="zordon">Zordon</option>
                    <option value="timon">Timon</option>
                    <option value="zazu">Zazu</option>
                    <option value="pumba">Pumba</option>
                    <option value="rafiki">Rafiki</option>
                    <option value="shenzi">Shenzi</option>
                    <option value="ed">Ed</option>
                </select>
                    <input type="submit" value="Donate" />
                </form>
                <br>
                <img src="/give-money-pngrepo-com.png">
            </div>
    </body>
</html>