<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Bank Accounts Of The Jungle</title>
    <!--link rel="stylesheet" type="text/css" href="static/stylesheetShowfinal.css" />-->
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheetShowfinal.css"/>
</head>
<body>
<div>
    <table>
        <h2 th:text="'The actual status of the accounts in the jungle is'"></h2>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Animal</th>
            <th>Balance</th>
            <th>Is a King?</th>
            <th>Good or Bad Guy?</th>
        </tr>
        </thead>
        <tbody th:each="account : ${allAccount}">
        <tr th:style="${account.kingOfJungle} ? 'color:magenta' : 'color:black'">
            <td th:text="${accountStat.index} + 1"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="${#numbers.formatDecimal(account.balance,1,2,'POINT')} + ' ' + ${account.CURRENCY}"></td>
            <td th:utext="${account.kingOfJungle} ? 'Yes' : 'No'"></td>
            <td th:switch="${account.badGuy}">
                <span th:case="true">Bad Guy</span>
                <span th:case="false">Good Guy</span>
            </td>
        </tr>
        </tbody>
    </table>
    <p>If you wish to widen the heroes of the Jungle, <a href="http://localhost:8080/web/add"> Click here!</a></p>
    <p>If you wish to donate the heroes of the Jungle, <a href="http://localhost:8080/web/donateanimal"> Click here!</a></p>
</div>
</body>
