*{
    box-sizing: border-box;
}

html {
    font-family: 'DejaVu Sans Mono', monospace;
    line-height: 1.15;
    padding: 100px 30px 60px 50px;
}

body{
    background-image: url(lionking.jpg);
    position: relative;
    opacity: 20%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgba(138, 43, 226, 0.6);
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    width: 30%;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    background-color: rgba(255, 215, 0, 0.5);
}

select{
    font-family: 'DejaVu Sans Mono', monospace;
    color: rgba(138, 43, 226, 0.6);
    font-size: 17px;
    font-weight: bolder;
    background-color: rgba(255, 215, 0, 0.5);
    border: 1px solid darkgoldenrod;
    border-radius:5px;
}
div{
    font-family: 'DejaVu Sans Mono', monospace;
    color: rgba(138, 43, 226, 0.6);
    font-size: 17px;
    font-weight: bolder;
    background-color: rgba(255, 215, 0, 0.5);
    border: 1px solid darkgoldenrod;
    border-radius:5px;
}

input[type='text']{
    color: rgba(138, 43, 226, 0.6);
    background-color: rgba(255, 215, 0, 0.5);
}