body{
    background-image: url(lionking.jpg);
    position: relative;
    opacity: 50%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    display: block;
    border-radius: 5px;
    border-collapse: separate;
}

td{
    color: honeydew;
}
tr{
    color: goldenrod;
}

h2{
    color: goldenrod;
}
p{
    color: blue;
}




