.hello{
    position: absolute;
    top: 80px;
    left:125px;
}
button{
    color: whitesmoke;
    background-color: mediumseagreen;
}
.login{
    position: absolute;
    top: 200px;
    left:600px;

}
.register{
    position: absolute;
    top: 300px;
    left:600px;
}
h3{
    color: grey;
}
h6{
    color:grey;
}