/* Forecast5Days Component's private CSS styles */

body{
    background-color: lightgrey;
  }
  ul{
    font-size: 25px;
    font-weight: bold;
  }
  
  .forecast {
    margin: 0px auto;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    width: auto;
    background-color: whitesmoke;
  }

  .forecast li {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    position: center;
    background-color: white;
    margin: 6px;;
    border-radius: 4px;
  }
  .forecast li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .forecast li:hover {
    color: salmon;
    background-color:white;
    left: .1em;
  } */

  .country-name{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  }

  .city-name{
    font-size: 15px;
    font-weight : bold;
    font-family: 'Lato', sans-serif;
  }
  .text{
    font-size: 15px;
    font-weight : lighter;
    font-family: 'Lato', sans-serif;  
  }

  .celsius-name{
    font-size: 25px;
    font-weight: 10px;
    font-family: 'Lato', sans-serif;
  }
  img{
    width: 75px;
    height: auto;
    text-align: center;
  }
  .icon{
    margin: 1%;
    width: 20px;
    
  }
  